### System related ###
.DS_Store
.vagrant
.idea/

### Andes related ###
*.db
andes/stacks/*/
docs/site

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
