{% if subdomain %}
{{ subdomain }} {
{% else %}
localhost {
{% endif %}
  {% if email != None %}
  {{ email }}
  {% else %}
  tls off
  {% endif %}
  proxy / {{ proxy_service }}:{{ proxy_port }} {
    transparent
  }
  log stdout
  errors stderror
}